<div class='center'>
    <h1><%= 'Category: ' + @category.name + " (#{@category.articles.count})" %></h1>
    <div class='center'>
        <% if logged_in? and current_user.admin? %>
            <div class='row'>
                <%= link_to "Edit this category", edit_category_path(@category), class: 'btn btn-success btn-xs' %>  
            </div>
        <% end %>
        <%= will_paginate @category_articles %>
    </div>
    <hr/>
    <%= render 'articles/article', obj: @category_articles %>
    <div class='center'>
        <%= will_paginate @category_articles%>
    </div>    
</div>